doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./test.css")
    script(src="./test.js" defer) 
    title InputAutoFoucsTest
  body
    section.search.modal
      form.search-form
        input(type="text" placeholder="검색").serch-form__input
    span.onclickbtn 누르면모달창이나옴